.blue-bg{
    background-color: #1c5ec2!important;
    color: white;
    transition: transform 0.2s ease,  background-color 0.4s ease, color 0.4s ease;
}

.blue-bg-dark{
    background-color: #bbd2f5!important;
    color: #2B333F;
    transition: transform 0.2s ease,  background-color 0.4s ease, color 0.4s ease;
}

.blue-text{
    color: #1c5ec2;
    transition: color 0.4s ease;
}

#profile-img{
    width: 80%;
    border-radius: 50%;
}

.blue-bg:hover, .blue-bg:active{
    background-color: #3b7fe4 !important;
    color: white !important;
    transform: translateX(5px);
}

.blue-bg-dark:hover, .blue-bg-dark:active{
    background-color: #d6e5fc !important;
    color: #2B333F !important;
    transform: translateX(5px);
}

.card-img-top {
  height: 100%; 
   
}

.light-bg{
    background-color: #F8F9FA;
    transition: background-color 0.4s ease;
}

.justify{
    text-align: justify;
}
body{
	transition: background-color 0.4s ease;
    overflow-x: hidden;
}

textarea{
    resize: none;
}

.switch-text{
	transition: color 0.4s ease;
}

.clickable {
    cursor: pointer !important;
}

header:before {
	content: "";
	display: block;
	width: 100%;
	height: 80px; 
	background-color: #f0f0f0;
	z-index: -1;
}

#light-switch-btn{
	position: fixed; 
	bottom: 25px; 
	right: 25px;
	border-radius: 50%;  
    z-index: 5;
}

.skill-style{
	font-size: 70px;
	color: #1c5ec2;
    transition: color 0.4s ease;
}

.fade-in-fx-section{
	opacity: 0;
}

.fade-in-fx{
    opacity: 0; 
    animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1; 
    }
}
main{
    position: static;
    z-index: 2;
    overflow-x: hidden;
    margin-bottom: 0;
    background-color: white;
    transition: background-color 0.4s ease;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: auto;  
    
}

#contact-section{
    
    position: static;
    bottom: 0;
    width: 100%;
    background: #455266;
    transition: background-color 0.4s ease;
}

.big-text{
    font-size: 60px;
}

.social{
    color: white;

}

.card {
	display: flex;
	flex-direction: column;
}

.card-body {
	flex: 1; 
    transition: background-color 0.4s ease;
}

.text-muted{
    transition: color 0.4s ease;
}

.text-muted-dark{
    color: rgb(192, 192, 192) !important;
    transition: color 0.4s ease;
}
@media (min-width: 992px) {
    
    main{
        position: relative;
        z-index: 2;
        margin-bottom: 600px;
    }
    
    footer {
        position: fixed;
        bottom: 0;
        height: 600px;  
    }
    
    #contact-section{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
